@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Kadir Emre Aydın - 20221129607</h3>
    <hr />
    <p>Bu sayfa INTERNET PROGRAMCILIĞI dersi kapsamında vize ve final projesi olarak hazırlanmıştır. </p>
    <p>Bu site cookie bazlı veri çekme işlem ile birlikte Identıty methodu ile kulanıcı bilgilerini almada ve kullanmada yararlanmıştır.</p>
    <p>Veri tabanı bağlantıları ve kullanımları SQL server ile ilişkilidir.</p>
</div>
